.card {
    background-color: royalblue;
    border: 2px solid rgb(51, 71, 131);
    padding : 10px;
    display : flex;
    flex-direction: column;
    gap : 10px;
    align-items: center;
}

.badge {
    background-color: gray;
    display: inline-block;
    padding: 5px 10px;
    border-radius : 20px;
}

button{
    background-color : orange;
    border : 1px solid white;
    padding : 2px 20px;
    border-radius: 5%;
}

p{
    font-size: 18px;
}

lightning-input{
    color : orange;
    font-weight : bold;
}

.message{
    color : rgb(116, 17, 17);
    font-weight: bold;;
}