.card{
    display : flex;
    flex-direction : column;
    align-items: center;
    gap : 15px;
}

:host {
    border : 2px dashed gray;
    border-radius : 20px;
    min-height : 300px;
    max-height : 800px;
    display : block;
    background-color : royalblue;
}

p{
    font-weight : bold;
    font-size : 18px;
    color : peachpuff
}